<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <div class="ion-float-left margin-header">
                <ion-icon name="list-outline"></ion-icon> {{this.UserLogged.name}}
            </div>
            <div class="ion-float-right">
                <ion-button fill="clear" (click)="LogOut()">
                    <ion-icon name="log-out-outline" ></ion-icon>
                </ion-button>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-list>
            <ion-list-header class="ion-no-padding">
                <ion-title class="ion-no-padding">Pendentes</ion-title>
            </ion-list-header>

            <div *ngFor="let obj of listaActive" class="border-bottom">
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        {{ obj.descricao }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                    {{ obj.data }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-text-end">
                        <ion-button (click)="Check(obj.id)" type="submit" color="success" class="ion-float-end">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-button>
                        <ion-button (click)="Edit(obj.id)" type="submit" color="primary" class="ion-float-end">
                            <ion-icon name="create-outline"></ion-icon>
                        </ion-button>
                        <ion-button (click)="Delete(obj.id)" type="submit" color="danger" class="ion-float-end">
                            <ion-icon name="trash-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>
        </ion-list>
    </ion-grid>

    <ion-grid>
        <ion-list>
            <ion-list-header class="ion-no-padding">
                <ion-title class="ion-no-padding">Concluídos</ion-title>
            </ion-list-header>

            <div class="border-bottom" *ngFor="let obj of listaInactive">
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        {{ obj.descricao }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                    {{ obj.data }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-text-end" >
                        <form (ngSubmit)="Check(obj.id)">
                            <ion-button type="submit" color="danger">
                                <ion-icon name="close-outline"></ion-icon>
                            </ion-button>
                        </form>
                    </ion-col>
                </ion-row>
            </div>
        </ion-list>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="Cadastrar()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
