<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin-top" size-md='6'>
        <ion-card-content >
            <ion-item>
                <ion-label position="floating"><ion-icon name="person-circle-sharp"></ion-icon>Email</ion-label>
                <ion-input type="email" placeholder="Digite seu email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"><ion-icon name="lock-closed"></ion-icon>Senha</ion-label>
                <ion-input type="password" placeholder="Digite sua senha"></ion-input>
            </ion-item>
            <ion-button color="default" fill="clear" size="full">esqueci a senha</ion-button>
            <ion-button expand="block">Entrar</ion-button>
            <ion-button href="/cadastro" color="default" fill="clear" size="full">Cadastre-se</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
