<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-grid class="margem">
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-margin-top" size-md='6'>
                <ion-card-content >
                    <form (ngSubmit)="logar()">
                        <ion-item>
                            <ion-label position="floating"><ion-icon name="person-circle-sharp"></ion-icon>Email</ion-label>
                            <ion-input [(ngModel)]="userForm.email" name="email" type="email" placeholder="Digite seu email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating"><ion-icon name="lock-closed"></ion-icon>Senha</ion-label>
                            <ion-input [(ngModel)]="userForm.password" name="password" type="password" placeholder="Digite sua senha"></ion-input>
                        </ion-item>
                        <ion-button expand="block" type="submit">Entrar</ion-button>
                        <ion-button routerLink="/cadastro" color="default" fill="clear" size="full">Cadastre-se</ion-button>
                    </form>
                </ion-card-content>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
