<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 400px;">
    <ion-card>
        <form (ngSubmit)="cadastro()">
            <IonList>
                <ion-item>
                    <ion-label position="floating"><ion-icon name="person-circle-sharp"></ion-icon>Nome</ion-label>
                    <ion-input [(ngModel)]="userForm.name" name="name" type="text" placeholder="Digite seu nome"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating"><ion-icon name="mail-outline"></ion-icon>Email</ion-label>
                    <ion-input [(ngModel)]="userForm.email" name="email" type="email" placeholder="Digite seu email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating"><ion-icon name="lock-closed"></ion-icon>Senha</ion-label>
                    <ion-input [(ngModel)]="userForm.password" name="password" type="password" placeholder="Digite sua senha"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating"><ion-icon name="lock-closed"></ion-icon>Senha Repetida</ion-label>
                    <ion-input [(ngModel)]="userForm.password_repeat" name="password_repeat" type="password" placeholder="Repita a senha"></ion-input>
                </ion-item>
                <ion-button type="submit" expand="block">Entrar</ion-button>
            </IonList>
        </form>
    </ion-card>
</ion-content>
